/* CSS Reset */
* { margin:0; padding:0; }
body {
	background: #e5e5e5;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: #3c5998;
}

#header h1 {
	display: block;
	float: left;
	width: 370px;
	height: 100px;
	margin-left: 10px;
	margin-top: 5px;
	background: url(../images/logo.png) no-repeat 0 0;
	text-indent: -9999px;
}

#header #user {
	height: 48px;
	position: absolute;
	top: 5px;
	right: 0;
	padding: 5px 10px 0 0;
	font-size: .9em;
}

#header #user .box {
	float: right;
	padding: 5px;
	font-weight: bold;
	min-width: 50px;
}

#header #user img {
	border: 1px solid white;
}

#header #user .user-name a {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	color: #3B5998;
}

#header #user .user-profile {
	text-align: right;
}

#header #user .user-profile a {
	font-weight: normal;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	color: #3B5998;
}

#header #user .logout {
	font-size: 0.7em;
	text-align: right;
}

.canvas-tl {
	background: transparent url(../images/canvas/tl.png) no-repeat 0 0;
	padding-left:10px;
}
.canvas-tr {
	background: transparent url(../images/canvas/tr.png) no-repeat right 0;
	padding-right:10px;
}
.canvas-tc {
	background: transparent url(../images/canvas/t.png) repeat-x 0 0;
	height:10px;
}
.canvas-ml {
	background: transparent url(../images/canvas/l.png) repeat-y 0 0;
	padding-left:10px;
}
.canvas-mr {
	background: transparent url(../images/canvas/r.png) repeat-y right 0;
	padding-right:10px;
}
.canvas-bl {
	background: transparent url(../images/canvas/bl.png) no-repeat 0 0;
	padding-left:10px;
}
.canvas-br {
	background: transparent url(../images/canvas/br.png) no-repeat right 0;
	padding-right:10px;
}
.canvas-bc {
	background: transparent url(../images/canvas/b.png) repeat-x 0 0;
	height:10px;
}
.canvas-body:not(.x-border-layout-ct) {
	background    : white;
	padding       : 5px;	
}

